<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ads</title>
</head>
<body>

<section class="newsletter-area section-padding-100-0" th:fragment="ads">
    <div class="container">
        <div class="row align-items-center">
            <div>
                <div class="newsletter-text mb-100">
                    <h2 th:text="${ads.title}"></span></h2>
                    <p th:text="${ads.description}"></p>
                </div>
            </div>
            <div class="adsBox">
                <img th:src="@{/img/core-img/ads-img/{img} (img=${ads.image.name})}" style="width: 500px; height: 150px;"/>
            </div>
        </div>
    </div>
</section>

</body>
</html>