<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/general/layout}" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Login</title>

</head>

<body>
<div class="single-product-area section-padding-100 clearfix" layout:fragment="main-content">
    <div class="container-fluid">
        <h2>Login</h2>
    <form th:action="@{/login}" method="POST" class="form-signin">
        <input type="text" id="username" name="username" th:placeholder="Username"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center">
            <p style="font-size: 20px; color: #FF1C19;" th:text="${errorMessge}">Email or Password invalid, please verify</p>
        </div>
        <div class="form-group">
            <label class="rememberme" for="remember-me">Remember Me?</label>
            <input type="checkbox" id="remember-me" name="remember-me"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
</div>
</div>
</body>
</html>