<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/general/layout-shop}">
<head>
</head>

<body>

<div class="amado_product_area section-padding-100" layout:fragment="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products">
                        <p id="showPageTxt" th:text="'Showing ' + ${startIndex} + '-' + ${endIndex} + ' Of ' + ${totalCount}">Showing 1-8 0f 25</p>
<!--                        <div class="view d-flex">-->
<!--                            <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>-->
<!--                            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>-->
<!--                        </div>-->
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
<!--                        <div class="sort-by-date d-flex align-items-center mr-15">-->
<!--                            <p>Sort by</p>-->
<!--                            <form action="#" method="get">-->
<!--                                <select name="select" id="sortBydate">-->
<!--                                    <option value="value">Date</option>-->
<!--                                    <option value="value">Newest</option>-->
<!--                                    <option value="value">Popular</option>-->
<!--                                </select>-->
<!--                            </form>-->
<!--                        </div>-->
                        <div class="view-product d-flex align-items-center">
                            <p>View</p>
                            <form action="#" method="get">
                                <select name="select" id="viewProduct" th:selected="${numPerPage}">
                                    <option value="6">6</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="48">48</option>
                                    <option value="96">96</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="listContent">

            <!-- Single Product Area -->
            <div class="col-12 col-sm-6 col-md-12 col-xl-6" th:each="product: ${productList}">
                <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">
                        <a class="gallery_img" th:href="@{/img/product-img/{image} (image=${product.images[0].name})}">
                        <img th:src="@{/img/product-img/{imageName} (imageName = ${product.images[0].name})}"  alt="">
                        <!-- Hover Thumb -->
                        <img class="hover-img" th:src="@{/img/product-img/{imageName} (imageName = ${product.images[0].name})}" alt="">
                        </a>
                    </div>

                    <!-- Product Description -->
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price" th:text="'$' + ${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}">$180</p>
                            <a href="#" th:href="@{/product-details/{id} (id=${product.id})}">
                                <h6 th:text="${product.name}">Modern Chair</h6>
                            </a>
                        </div>
                        <!-- Ratings & Cart -->
                        <div class="ratings-cart text-right">
                            <div class="ratings">
                                <i th:if="${product.averageRating > 0}" class="fa fa-star" aria-hidden="true" th:each="r : ${product.averageRating}"></i>

                            </div>
                            <div class="cart">
                                <a href="#" th:data="${product.id}" class="btn amado-btn add-to-cart-btn" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img
                                        src="/img/core-img/cart.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <input type="hidden" id="csrf" th:value="${#response.getHeader('X-CSRF-TOKEN')}"/>
        <div class="row">
            <div class="col-12">
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end mt-50" id="pageNumbers">
<!--                        <li class="page-item active"><a class="page-link" href="#">01.</a></li>-->
<!--                        <input type="hidden" id="pageNo" th:value="${p}">-->
                        <li class="page-item" th:each="p:${pageNumbers}" th:classappend="${p == pageNo} ? active : ''"><a class="page-link" href="#" th:text="${p}"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>

</html>
</body>

</html>