<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

</head>
<body>
<header class="header-area clearfix" th:fragment="header">
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="logo">
        <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
    </div>

    <div class="cart-fav-search">
        <a href="/admin" class="cart-nav"><img src="/img/core-img/user.png" alt=""> Admin</a>
        <a href="/logout" class="cart-nav"><img src="/img/core-img/login.png" alt=""> Logout</a>
    </div>

    <nav class="amado-nav">
        <ul>
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/admin/sellers">Seller List</a></li>
            <li><a href="/admin/product/reviews">Product Reviews</a></li>
            <li><a href="/admin/product/orders">Product Orders</a></li>
            <li><a href="/admin/ads/list">Advertisement</a></li>
        </ul>
    </nav>

</header>
</body>
</html>